{{ partial "header" . }}
</head>
<main>
  <section>
    <h2 id="tagshow"></h2>
    <div id="product_wrap">
      {{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) }}
      {{ range sort .Paginator.Pages }}
        <div class="blog_link">
          <a href="{{ .Permalink }}">
              <h3 class="ib">{{ .Title }}</h3>
              <p class="ib">[{{ .Date.Format "2006.1.2" }}]</p>
          </a>
          <p class="data">
              tag 
              {{ if .Params.tags }}
                {{ partial "tags" .Params.tags }}
              {{ end }}
          </p>
        </div>
      {{ end }}
    </div>
  </section>
  <a href="/" class="toTop">←topに戻る</a>
</main>
{{ partial "footer" . }}
<script type="text/javascript">
  var getUrl = location.pathname;
  console.log(getUrl);
  getUrl = decodeURI(getUrl);
  console.log(getUrl);
  var tag = getUrl.substr( 6 );
  tag = tag.slice( 0, -1 );
  console.log(tag);
  const tag_show = document.getElementById("tagshow");
  tagshow.innerHTML = "タグ:" + tag;
  console.log("aaaaaaaaa");
</script>
</body>
</html>
