html,body,header,main,footer,section,div,h1,h2,h3,p,a {margin: 0; padding: 0;}
html {height: 100%; min-height: 100%;}
body {background-color: #121212; color: #ff4545; height: 100%; min-height: 100%;}
a {color: #ff4545;}
header, footer {text-align: center; height: 50px; line-height: 50px;}
header h1 {font-size: 1.4rem;}
main#top {min-height: calc(100% - 120px); display: block; width: 90%; margin: 10px auto;}
main {min-height: calc(100% - 90px); display: block; width: 90%; margin: 10px auto;}
.blog_link .ib {display: inline-block;}
a.toTop {display: block; text-align: center; margin: 10px;}