{{ partial "header" . }}
</head>
<body>
    <header>
        <h1>裏垢/闇垢の中の人たちによる中の人のためのメディア</h1>
    </header>
    <main>
        {{ range sort .Paginator.Pages }}
            <div class="blog_link">
                <a href="{{ .Permalink }}">
                    <h3 class="ib">{{ .Title }}</h3>
                    <p class="ib">[{{ .Date.Format "2006.1.2" }}]</p>
                </a>
                <p class="data">
                    writer : <a href="/writer/{{.Params.writer}}">{{.Params.writer}}</a>
                    tag 
                    {{ if .Params.tags }}
                    {{ partial "tags" .Params.tags }}
                    {{ end }}
                </p>
            </div>
        {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
